

<mat-spinner *ngIf="loading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts?.length > 0 && !loading; else noPost">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post?.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post?.imagePath" />
    </div>
    {{post?.content}}
    <mat-action-row *ngIf="isUserAuthenticated">
      <button mat-button color="primary" (click)="onEdit(post.id)">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)"></mat-paginator>
<ng-template #noPost>
  <p class="info-text mat-body-1">No Posts Added yet</p>
</ng-template>
